.btn-close-modal {
    color: #fff;
    background-color: #ff0000;
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 15px;
    border-radius: 50%;
    border: 2px solid #000;
    z-index: 50;
}

.btn-close-modal:hover,
.btn-close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}