.calendar-container{
    background-color: white;
    margin:0 auto;
    max-width: 1500px;
}
.calendar-title{
    text-align: center;
    padding-right: 57px;
}

.rbc-timeslot-group {
    min-height: 80px;
}

.rbc-btn-group{
    margin-right: 24px;
    margin-left: 50px;
}