.form-control-reg{
    text-decoration-color: white;
    border-color: white;
    background: rgba(255, 255, 255, 0);
}
.form-control-reg:focus {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    background-color: rgba(255, 255, 255, 0.5) ;
}
.form-control._error {
    box-shadow: 0 0 25px red;
}
.non-margin{
    margin: 0 auto 25px;
}
